127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ ovhs.storage.ip_mgmt }}	{{ ovhs.storage.hostname }}.{{ ovhs.domainname }}	{{ ovhs.storage.hostname }}
{{ ovhs.manager.ip_mgmt }}	{{ ovhs.manager.hostname }}.{{ ovhs.domainname }}	{{ ovhs.manager.hostname }}
{{ ovhs.ovhs01.ip_mgmt }}	{{ ovhs.ovhs01.hostname }}.{{ ovhs.domainname }}	{{ ovhs.ovhs01.hostname }}
{{ ovhs.ovhs02.ip_mgmt }}	{{ ovhs.ovhs02.hostname }}.{{ ovhs.domainname }}	{{ ovhs.ovhs02.hostname }}
{{ ovhs.ovhs03.ip_mgmt }}	{{ ovhs.ovhs03.hostname }}.{{ ovhs.domainname }}	{{ ovhs.ovhs03.hostname }}

