#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Perform kickstart installation in text mode
text

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable

# Ignore all disks except the 2 intended harddisks
ignoredisk --only-use=sda,sdb

# Keyboard layouts
keyboard --vckeymap=de --xlayouts='de (nodeadkeys)'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --onboot=on --ipv6=auto --activate
network  --hostname=ovhs.local

# Root password
rootpw --iscrypted $6$cLSFUPg83tCnjzIR$/Uw20y//NW1Fefujpo.Aj4P5mTJsPvnZGceY.altOp1fxEUCnJBZDzTYOuswpn9/OCrGmRnOeOyodESUmQK.Z/

# System services
services --enabled="chronyd"

# System timezone
timezone Europe/Berlin --isUtc --ntpservers=0.pool.ntp.org,1.pool.ntp.org,2.pool.ntp.org,3.pool.ntp.org

# System bootloader configuration
bootloader --location=mbr --boot-drive=sda

# Partition clearing information
# MIRRORED HD INSTALL: clearpart --all --initlabel --drives=sda,sdb
# SINGLE HD INSTALL:   clearpart --all --initlabel --drives=sda
clearpart --all --initlabel --drives=sda,sdb

# Disk partitioning information
part biosboot --fstype="biosboot" --ondisk=sda --asprimary --size=1
# SINGLE HD INSTALL:
#part /boot --ondisk=sda --asprimary --size=500 --fstype="xfs"
#part pv.01 --ondisk=sda --asprimary --size=100000 --grow --encrypted --passphrase=1234567890
# MIRRORED HD INSTALL:
#part /biosboot_sdb --fstype="biosboot" --ondisk=sdb --asprimary --size=1
#part raid.11 --fstype="mdmember" --ondisk=sda --asprimary --size=500
#part raid.12 --fstype="mdmember" --ondisk=sdb --asprimary --size=500
#part raid.21 --fstype="mdmember" --ondisk=sda --asprimary --size=100000 --grow
#part raid.22 --fstype="mdmember" --ondisk=sdb --asprimary --size=100000 --grow
#raid /boot --device=md0 --fstype="xfs" --level=1 raid.11 raid.12
#raid pv.01 --device=md1 --encrypted --passphrase=1234567890 --level=1 raid.21 raid.22
part /biosboot_sdb --fstype="biosboot" --ondisk=sdb --asprimary --size=1
part raid.11 --fstype="mdmember" --ondisk=sda --asprimary --size=500
part raid.12 --fstype="mdmember" --ondisk=sdb --asprimary --size=500
part raid.21 --fstype="mdmember" --ondisk=sda --asprimary --size=100000 --grow
part raid.22 --fstype="mdmember" --ondisk=sdb --asprimary --size=100000 --grow
raid /boot --device=md0 --fstype="xfs" --level=1 raid.11 raid.12
raid pv.01 --device=md1 --encrypted --passphrase=1234567890 --level=1 raid.21 raid.22

# Logical Volume information:
volgroup vg_virthost01 --pesize=4096 pv.01
logvol /  --fstype="xfs" --size=30000 --name=root --vgname=vg_virthost01
logvol swap  --fstype="swap" --size=16136 --name=swap --vgname=vg_virthost01
logvol /var/log  --fstype="xfs" --size=1956 --name=var_log --vgname=vg_virthost01
logvol /gluster  --fstype="xfs" --size=50000 --name=gluster --vgname=vg_virthost01

# Base Software installation:
%packages
@base
@core
@network-file-system-client
@remote-system-management
@virtualization-hypervisor
@virtualization-platform
@virtualization-tools
chrony
deltarpm
screen
nfs-utils
system-storage-manager
ctdb

%end
###

# self-hosted engine setup with gluster storage taken from
# http://community.redhat.com/blog/2014/10/up-and-running-with-ovirt-3-5/ and
# http://community.redhat.com/blog/2014/11/up-and-running-with-ovirt-3-5-part-two/
%post
# multipathd throws ugly errors, thus we blacklist the harddisks
cat >> /etc/multipath.conf <<EOF

blacklist {
       devnode "^sd[a-b]"
}
EOF

# configure nested virtualization for the host
cat >/etc/modprobe.d/kvm-nested.conf <<EOF
# create new
options kvm_intel nested=1
EOF

# update installation
yum -y update
yum -y install epel-release

%end
###

# copy CentOS ISO image to /home/tmp/ for later re-use
%post --nochroot
mkdir -p /mnt/sysimage/home/tmp
#grep "^network.*ovhs01" /run/install/ks.cfg && dd if=$(df | grep "/run/install" | head -n1 | cut -d" " -f1) of=/mnt/sysimage/home/tmp/CentOS-7-x86_64-DVD-1708.iso bs=4M
ip add sh | grep '192.168.178.54' && dd if=$(df | grep "/run/install" | head -n1 | cut -d" " -f1) of=/mnt/sysimage/home/tmp/CentOS-7-x86_64-DVD-1708.iso bs=4M
%end


reboot
